body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.table-container {
    width: 45%;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.range-header {
    background-color: #d9eaf2;
}

.bcs-header, .bps-header, .ebcs-header, .ebps-header {
    background-color: #d3d3d3;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.value-container {
    display: flex;
    align-items: center;
}

.value-container .change-positive {
    color: green;
    margin-left: 8px;
    font-weight: bold;
}

.value-container .change-negative {
    color: red;
    margin-left: 8px;
    font-weight: bold;
}

.value-container .icon-up {
    color: green;
    margin-left: 4px;
}

.value-container .icon-down {
    color: red;
    margin-left: 4px;
}

#signal-container {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#signal {
    font-size: 16px;
    color: #333;
    margin: 0 auto;
}

#straddle-table th:nth-child(2),
#straddle-table td:nth-child(2) {
    width: 50%; /* Adjust this percentage to reduce the width of the "Values" column */
}

#straddle-table th.trend-header,
#straddle-table td#trend {
    width: 50%; /* Adjust this percentage to increase the width of the "Trend" column */
    text-align: center;
    vertical-align: middle;
}